body {
    text-align: center;
    background-color: blanchedalmond;
}

p.heading { 
    font-size: 30pt;
    font-weight: bold;
    border-width: 1px;
    border-style: solid;
    border-color: cadetblue;
    margin: auto;
    color: rgb(16, 69, 168);
}

p.subheading {
    font-size: small;
    font-style: italic;
    color: rgb(74, 59, 59);
}